<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>


<h3>Product's Information</h3>
<div style="margin-left: 200px">
    <p>
        <a th:href="@{/product}">
            Back to Products list
        </a>
    </p>
    <div id="detail">
        <div class="info">
            <label th:text="${product.name}"></label>
        </div>
        <div class="info">
            <label>Description :</label>
            <label th:text="${product.description}"></label>
        </div>
        <div class="info">
            <label>Manufacturer : </label>
            <label th:text="${product.manufacturer}"></label>
        </div>
        <div class="info">
            <label>Price: </label>
            <label th:text="${product.price}"></label>
        </div>
    </div>
</div>
</body>
</html>