<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: head">
<body>

<h1>Login</h1>
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Login Failed!!!<br/>
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

</div>
<form th:action="@{/home}" method='post'>
    <div class="form-group">
        <label for="exampleDropdownFormEmail1">User Name</label>
        <input type="text" class="form-control" id="exampleDropdownFormEmail1" name='username'
               placeholder="email@example.com">
    </div>
    <div class="form-group">
        <label for="exampleDropdownFormPassword1">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword1" name='password'
               placeholder="Password">
    </div>
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck" name="remember-me">
            <label class="form-check-label" for="dropdownCheck">
                Remember me
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>


<br>
Username/pass (For demo testing):
<ul>
    <li>user/123</li>
    <li>admin/123</li>
</ul>

</body>

</html>