<h1 class="text-primary font-weight-bold">Categories List</h1>
<a routerLink="/category/create"><button class="btn btn-dark">Create A Category</button></a>
<table class="table table-primary table-striped text-dark">
  <tr>
    <td>No</td>
    <td>ID</td>
    <td>Name</td>
    <td>Options</td>
  </tr>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.id}}</td>
    <td>{{category.name}}</td>
    <td><a [routerLink]="['/category/edit',category.id]"><button class="btn btn-dark">Edit</button></a>
    <a [routerLink]="['/category/delete',category.id]"><button class="btn btn-danger">Delete</button></a></td>
  </tr>
</table>
