<h1 class="text-primary font-weight-bold">Create A Product</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table class="table table-primary table-striped text-dark">
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td>
        <select formControlName="category">
          <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-dark" type="submit">Tạo mới</button></td>
    </tr>
  </table>
</form>
