<div class="container justify-content-center align-content-center mt-4">
  <h1 class="text-dark font-weight-bold">Create A Customer</h1>
</div>
<form class="container mt-5" [formGroup]="customer" novalidate (ngSubmit)="create()" >
  <table class="table table-success table-striped text-dark font-weight-bold">
    <tr>
      <th><label>Name:</label></th>
      <td><input required class="form-control" type="text" name="name" formControlName="name">
        <div class="text-danger" *ngIf="!customer.controls.name?.valid && (customer.controls.name?.dirty ||customer.controls.name?.touched)">
          Name is required!
        </div>
      </td>
    </tr>
    <tr>
      <th><label>Date Of Birth:</label></th>
      <td><input required class="form-control" type="date" name="dateOfBirth" formControlName="dateOfBirth">
        <div class="text-danger" *ngIf="!customer.controls.dateOfBirth?.valid && (customer.controls.dateOfBirth?.dirty ||customer.controls.dateOfBirth?.touched)">
          Date Of Birth is required!
        </div>
      </td>
    </tr>
    <tr>
      <th>Type:</th>
      <td>
        <select required class="form-control" formControlName="type">
          <option  *ngFor="let type of customerTypes" [ngValue]="type">{{type.type}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th></th>
      <th><input [disabled]="!customer.valid" class="btn btn-success" type="submit" value="create"></th>
    </tr>
  </table>

</form>
