<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Edit Product</h1>
    <div style="clear: both; display: block; height: 5px"></div>
    <form th:action="@{/product/update}" method="post" th:object="${product}">
        <input type="hidden" th:field="*{id}">
        <div>
            <label th:text="Name" th:for="name"></label>
            <input type="text" th:field="*{name}" class="form-control"/>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Price" th:for="price"></label>
            <input type="text" th:field="*{price}" class="form-control"/>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Description" th:for="description"></label>
            <input type="text" th:field="*{description}" class="form-control"/>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="Manufacturer" th:for="manufacturer"></label>
            <input type="text" th:field="*{manufacturer}" class="form-control"/>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <input type="submit" class="btn btn-success" value="SAVE">
        <input type="button" class="btn btn-danger" th:href="@{/}" value="CANCLE">
    </form>
</div>
</body>
</html>