<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customers </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
<header>
    <div class="row">
        <div class="container-fluid d-flex justify-content-between align-items-center py-3 bg-light text-black">
            <div class="  d-flex align-items-center">
                <a class="navbar-brand" href="#"><img src="http://www.dongkhoitravel.com.vn/upload/product/furamresort-3272.png" height="100px">
                </a>
            </div>
            <div class="col-md-2 h2">
                <p>Furama Resort</p>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-success">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto h5">
                    <li class="nav-item active px-5">
                        <a class="nav-link text-light" href="/home">Home</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link text-light" href="employees">Employee</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link text-light" href="/customers/">Customer</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link text-light" href="/create-service">Service</a>
                    </li>
                    <li class="nav-itempx px-5">
                        <a class="nav-link text-light" href="/contracts/create-contract">Contract</a>
                    </li>
                    <li class="nav-itempx px-5">
                        <a class="nav-link text-light" href="contract-details/create-contract-detail">Contract detail</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<body>
<h1>Customer</h1>
<a href="/customers/create-customer"><button class="btn btn-warning">Create A Customer</button></a>
<a href="/home">
    <button class="btn btn-danger">Back To Home</button>
</a>
<th:block th:if="${mes}">
    <p th:text="${mes}"></p>
</th:block>
<form>
    <span class="h5">Search by first name:</span>
    <input name="search" type="text"/>
    <input type="submit" class="btn btn-success" value="Search"/>
</form>
<div style="clear: both; display: block; height: 10px"></div>
<table class="table table-bordered table-striped ">
    <tr>
        <td>Customer code</td>
        <td>Customer type</td>
        <td>Customer Name</td>
        <td>Birthday</td>
        <td>Gender</td>
        <td>ID Card</td>
        <td>Number Phone</td>
        <td>Email</td>
        <td>Address</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>

    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.customerCode}"></td>
            <td th:text="${customer.customerType.customerTypeName}"></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerBirthDay}"></td>
            <td>
                <span th:if="${customer.customerGender=='1'}" th:text="Male"></span>
                <span th:if="${customer.customerGender=='0'}" th:text="Fmale"></span>
            </td>
            <td th:text="${customer.customerIdCard}"></td>
            <td th:text="${customer.customerPhone}"></td>
            <td th:text="${customer.customerEmail}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td><a class="btn btn-warning" th:href="@{/edit-customer/__${customer.id}__}">Edit</a>
            </td>
            <td>
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"
                        th:data-parameter1="${customer.id}" th:data-parameter2="${customer.customerName}"
                        onclick="showModal(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))">
                    Delete
                </button>
            </td>
        </tr>
    </th:block>
</table>

<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/customers/delete-customer}" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Accept delete customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete: <h5 id="customerName">???</h5>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger btn-ok" id="delete" value="Delete">
                    <input type="hidden" id="customerId" name="id">
                </div>
            </div>
        </form>

    </div>
</div>

<div>
    <a th:href="@{'/customers'(page=${customers.number - 1}, search=${search})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1}, search=${search})}" th:if="${customers.hasNext()}">Next</a>
</div>


<div>
    <span th:each="pageNo:${#numbers.sequence(0,customers.totalPages - 1)}">
            <a th:href="@{/customers(page=${pageNo})}" th:text="${pageNo+1}"></a>
        </span>
</div>


<script>
    function showModal(id, name) {
        document.getElementById("customerId").value = id;
        document.getElementById("customerName").innerText = name;
    }
</script>
</body>
<footer>
    <div class="row">
        <div class="card-footer bg-success" style="height: 50px ;width: 100% ">
            <p class="h5 text-light" style="text-align: center;">Furama Resort @ 2021</p>
        </div>
    </div>
</footer>
</html>