<div class="container justify-content-center align-content-center mt-4">
  <h1 class="text-dark font-weight-bold">Create An Employee</h1>
</div>
<form class="container mt-5" [formGroup]="employee" novalidate (ngSubmit)="create()" >
  <table class="table table-success table-striped text-dark font-weight-bold">
    <tr>
      <th><label>Name:</label></th>
      <td><input class="form-control" required type="text" name="name" formControlName="name"></td>
      <div class="text-danger" *ngIf="!employee.controls.name?.valid && (employee.controls.name?.dirty ||employee.controls.name?.touched)">
        Name is required!
      </div>
    </tr>
    <tr>
      <th><label>Date Of Birth:</label></th>
      <td><input class="form-control" required type="date" name="dateOfBirth" formControlName="dateOfBirth"></td>
      <div class="text-danger" *ngIf="!employee.controls.dateOfBirth?.valid && (employee.controls.dateOfBirth?.dirty ||employee.controls.dateOfBirth?.touched)">
        Date Of Birth is required!
      </div>
    </tr>
    <tr>
      <th>Education:</th>
      <td>
        <select class="form-control" required formControlName="education">
          <option *ngFor="let education of educations" [ngValue]="education">{{education.educationName}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Position:</th>
      <td>
        <select class="form-control" required formControlName="positions">
          <option *ngFor="let positions of positionList" [ngValue]="positions">{{positions.positionName}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th></th>
      <th><input [disabled]="!employee.valid" class="btn btn-success" type="submit" value="create"></th>
    </tr>
  </table>

</form>
