.paragraph{
    color: black;
    text-align: justify;
    text-indent: 50px;
}
.blue-text{
    color:dodgerblue;
}
.dark-blue-text{
    color:darkblue;
}
.sup-elements {
    color:dodgerblue;
    font-size:8px;
}
h1{
    margin: 0;
}
hr{
    margin: 0;
}
.wiki{
    margin: 0;
}
