<h1>Update The Employee</h1>

<form [formGroup]="employeeEditForm" novalidate (ngSubmit)="submit()">

  <input class="form-control" type="hidden"  formControlName="id" >

  <label>Name:</label>
  <input class="form-control" required type="text"  name="name"  formControlName="name" >
  <div class="text-danger" *ngIf="!employeeEditForm.controls.name?.valid && (employeeEditForm.controls.name?.dirty || employeeEditForm.controls.name?.touched)">
    Name is required!
  </div>

  <label>Birthdate:</label>
  <input class="form-control" required type="date"  formControlName="dateOfBirth" >
  <div class="text-danger" *ngIf="!employeeEditForm.controls.dateOfBirth?.valid && (employeeEditForm.controls.dateOfBirth?.dirty ||employeeEditForm.controls.dateOfBirth?.touched)">
    Date Of Birth is required!
  </div>

  <label>Education:</label>
  <select class="form-control" required [compareWith]="compareFn"  formControlName="education">
    <option *ngFor="let education of educations" [ngValue]="education">
      {{education.educationName}}
    </option>
  </select>

  <label>Position:</label>
  <select class="form-control" required [compareWith]="compareFn"  formControlName="positions">
    <option *ngFor="let positions of positionList" [ngValue]="positions">
      {{positions.positionName}}
    </option>
  </select>

  <div class="d-flex justify-content-between">
    <button class="btn btn-success mt-3 " mat-dialog-close="" [disabled]="!employeeEditForm.valid" type="submit">Update</button>
    <button class="btn btn-danger mt-3 " mat-button mat-dialog-close="">Cancel</button>

  </div>

</form>
