<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book's Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <h1>Book's Detail</h1>
  <form th:action="@{/borrow-book/borrow}" method="post" th:object="${book}">
      <input type="hidden" th:field="*{id}">
    <table class="table table-striped table-dark">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Borrow"></td>
        </tr>
    </table>
  </form>
</body>
</html>