<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Return Book</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <h1>Return Book</h1>
  <form action="/return-book/return" method="post">
    <table>
      <tr>
        <td>Borrow Code:</td>
        <td><input type="text" name="id"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" name="Give Book"></td>
      </tr>
    </table>
  </form>
</body>
</html>